{{page-title 'Show'}}
<div class='article-page'>

  <div class='banner'>
    <div class='container'>

      <h1>{{@model.article.title}}</h1>

      <Article::Meta @article={{@model.article}} />
    </div>
  </div>

  <div class='container page'>

    <div class='row article-content'>
      <div class='col-md-12'>
        <p>
          {{@model.article.description}}
        </p>
        <h2 id='introducing-ionic'>{{@model.article.title}}</h2>
        <p>{{@model.article.body}}</p>
      </div>
    </div>

    <hr />

    <div class='article-actions'>
      <Article::Meta @article={{@model.article}} />
    </div>

    <div class='row'>

      <div class='col-xs-12 col-md-8 offset-md-2'>

        {{#if this.session.isAuthenticated}}
          <Comment::Form />
        {{else}}
          <div class='card'><p class='card-block'>
              You need to
              <LinkTo @route='users.login'>login</LinkTo>
              to comment
            </p></div>
        {{/if}}
        {{! <div class='card'>
          <div class='card-block'>
            <p class='card-text'>With supporting text below as a natural lead-in
              to additional content.</p>
          </div>
          <div class='card-footer'>
            <a href='' class='comment-author'>
              <img
                src='http://i.imgur.com/Qr71crq.jpg'
                class='comment-author-img'
              />
            </a>
            &nbsp;
            <a href='' class='comment-author'>Jacob Schmidt</a>
            <span class='date-posted'>Dec 29th</span>
          </div>
        </div> }}

        {{#each comments as |comment|}}
          <Comment::Card @comment={{comment}} />
        {{/each}}
      </div>

    </div>

  </div>

</div>
